.countdown-number {
	font-size: 100px;
	font-weight: bold;
	color: white;
	text-align: center;

}

.countdown-label {
	font-size: 25px;
	color: white;
	text-align: center;

}

.countdown-container {
	margin: 0 auto;
	font-family: 'Acme';
}

.background {
	background-image: url('../images/countdown-background.png');
	background-position: bottom left;
	margin: 0 auto;
}

.message {
	width: 100%;
	color: white;
	text-align: center;
	font-family: 'Acme';
	padding-top: 100px;
	padding-right: 5px;
	padding-left: 5px
}